<datalist id="singapore-locations">
    <option value="Ang Mo Kio">
    <option value="Bedok">
    <option value="Bishan">
    <option value="Bukit Batok">
    <option value="Bukit Merah">
    <option value="Bukit Panjang">
    <option value="Bukit Timah">
    <option value="Choa Chu Kang">
    <option value="Clementi">
    <option value="Geylang">
    <option value="Hougang">
    <option value="Jurong East">
    <option value="Jurong West">
    <option value="Kallang">
    <option value="Marine Parade">
    <option value="Orchard">
    <option value="Pasir Ris">
    <option value="Punggol">
    <option value="Queenstown">
    <option value="Sembawang">
    <option value="Sengkang">
    <option value="Serangoon">
    <option value="Tampines">
    <option value="Toa Payoh">
    <option value="Woodlands">
    <option value="Yishun">
</datalist>